/* -----------------Employee------------------ */

body {
    background-color: #062B95;
}

#top3HeaderBox {
     align-items: center;
    flex-direction: column;
    width: 70%;
    background-color: #2A5EF6;
    margin: 100px auto;
}

#top3HeaderBox .top3HeaderTitles {
    height: 50px;
    padding: 10px 50px 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top3InnerBox {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    height: 300px;
    width: 100%;  
}

#headerBox {
     align-items: center;
    flex-direction: column;
    width: 70%;
    background-color: #2A5EF6;
    margin: 100px auto;
}

#headerBox .headerTitles {
    height: 50px;
    padding: 10px 50px 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.innerBox {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    height: 200px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    
}

.outerBox ::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 30px #FEFEFE;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #F06F63;
  border-radius: 10px;
}

.hej1, .hej3 {
    background-color: #FEFEFE;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}

.hej2, .hej4 {
    background-color: #E8F3F4;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}




/* -----------------Customer------------------ */
.customer-box-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.customer-box{
    background-color: #2A5EF6;
    color: #fff;
    width: 25%;
    padding: 10px;
    display: table;
}

.customer-box a{
    color: #F06F63;
    text-decoration: none;
    font-weight: bold;
}

.customer-publication{
    display: flex;
    background-color: #F06F63;
    float: right;
    justify-content: center;
    width: 25%;
}