#headerBox {
     align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: blue;
}

#headerBox .headerTitles {
    height: 50px;
    padding: 10px 50px 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.innerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: red;
}

.outerBox {
    
    background-color: orange;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 0 10px;
    background-color: blueviolet;
}

.hej1 {
    background-color: green;
}

.hej2 {
    background-color: yellow;
}

.hej3 {
    background-color: aquamarine;
}



/* Customer */
.box-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.box{
    background-color: #2A5EF6;
    color: #fff;
    width: 25%;
    padding: 10px;
    display: table;
}

.publication{
    display: flex;
    background-color: #F06F63;
    float: right;
    justify-content: center;
    width: 25%;
}