/* -----------------Employee------------------ */

body {
    background-color: #062B95;
    padding: 20px;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 70%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 100px auto;
    height: 100px;
    display: block;
    overflow: hidden;
    overflow-y: scroll;
}

.content-table thead tr {
    background-color: #2A5EF6;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 138px;
}

.content-table::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 30px #FEFEFE;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #F06F63;
  border-radius: 10px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #FEFEFE;
}

.content-table tbody tr:nth-of-type(uneven) {
    background-color: #E8F3F4;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

#top3HeaderBox {
     align-items: center;
    flex-direction: column;
    width: 70%;
    background-color: #2A5EF6;
    margin: 100px auto;
}

#top3HeaderBox .top3HeaderTitles {
    height: 50px;
    padding: 10px 50px 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top3InnerBox {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    height: 300px;
    width: 100%;  
}

#headerBox {
     align-items: center;
    flex-direction: column;
    width: 70%;
    background-color: #2A5EF6;
    margin: 100px auto;
}

#headerBox .headerTitles {
    height: 50px;
    padding: 10px 50px 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.innerBox {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    height: 200px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    
}

.outerBox ::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 30px #FEFEFE;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #F06F63;
  border-radius: 10px;
}

.hej1, .hej3 {
    background-color: #FEFEFE;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.hej2, .hej4 {
    background-color: #E8F3F4;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}





/* -----------------Customer------------------ */
.customer-box-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.customer-box{
    background-color: #2A5EF6;
    color: #fff;
    width: 25%;
    padding: 10px;
    display: table;
}

.customer-box .overlay-link{
    color: #F06F63;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.customer-publication{
    display: flex;
    background-color: #F06F63;
    float: right;
    justify-content: center;
    width: 25%;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

  .overlay-box{
    background-color: #2A5EF6;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 60%;
    height: 60%;
  }